
@model Abc.MvcWebUI.Models.ShippingDetails

@{
    ViewBag.Title = "Checkout";
}







<style>
    .field-validation-error {
        color: #dc3545;
    }

    .input-validation-error {
        border: 1px solid #dc3545;
        background-color: #fef2f2;
    }

    .validation-summary-errors {
        color: #dc3545;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">

            <div class="card shadow-sm border-0">
                <div class="card-body">

                    <h2 style="text-align:center">
                        <i class="fas fa-shopping-cart text-primary"></i> Sipariş Bilgileriniz
                    </h2>
                    <p class="text-center text-muted">Lütfen sipariş bilgilerinizi eksiksiz doldurunuz.</p>
                    <hr />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bold">Kullanıcı Adı:</label>
                            <div class="col-sm-9 pt-2">
                                <span>@User.Identity.Name</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(x => x.AdresBasligi, new { @class = "col-sm-3 col-form-label font-weight-bold" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.AdresBasligi, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.AdresBasligi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(x => x.Adres, new { @class = "col-sm-3 col-form-label font-weight-bold" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Adres, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(x => x.Sehir, new { @class = "col-sm-3 col-form-label font-weight-bold" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Sehir, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Sehir, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(x => x.Ilce, new { @class = "col-sm-3 col-form-label font-weight-bold" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Ilce, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Ilce, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(x => x.Mahalle, new { @class = "col-sm-3 col-form-label font-weight-bold" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Mahalle, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Mahalle, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(x => x.PostaKodu, new { @class = "col-sm-3 col-form-label font-weight-bold" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.PostaKodu, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.PostaKodu, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-9 offset-sm-3">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save"></i> Kaydet
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>